@box-width        : 175px;
@name-start-height: 2em;
@main-color       : yellow;

#header {
    width   : 100%;
    height  : 100%;
    position: relative;
}

#bslu {
    position     : relative;
    height       : 100%;
    padding-top  : 20%;
    padding-left : 10%;
    padding-right: 10%;
}

#yellow {
    width           : @box-width;
    height          : @box-width;
    background-color: @main-color;
    position        : absolute;
    transition      : background-color 1s, width 1s, height 1s;
}

#yellow:hover {
    background-color: green;
}

#header-container {
    width      : auto;
    position   : relative;
    margin-top : 10%;
    margin-left: 10%;
}

@keyframes reveal {
    from {
        height: var(@name-start-height);
    }

    to {
        height: 100%;
    }
}

@keyframes hide {
    from {
        height: 100%
    }

    to {
        height: @name-start-height
    }
}

#name {
    height        : @name-start-height;
    overflow      : hidden;
    pointer-events: none;
}

#firstname {
    letter-spacing: .1em;
}

#lastname {
    font-style    : italic;
    letter-spacing: .3em;
}

#event-trigger {
    height          : 175px;
    width           : 100%;
    background-color: transparent;
    position        : absolute;
    z-index         : 9999;

    &:hover {
        &~#yellow {
            animation                : swipe 3s forwards;
            animation-iteration-count: 1;
        }

        @keyframes swipe {
            0% {
                width : @box-width;
                height: @box-width;
            }

            25% {
                width     : 77%;
                margin-top: 9%;
                height    : 3em;
            }

            75% {
                right: 13%;
            }

            100% {
                width     : 0%;
                margin-top: 9%;
                right     : 13%;
                height    : 3em;
            }
        }


        &~#header-container #name {
            transition : height 1s, text-shadow 2s, margin-top 4s;
            text-shadow: 6px 6px 1px @main-color;
        }
    }
}