<nav id="navbar">
    <div id="navbar-logo">
        <div id="navbar-name">
            <span id="navbar-firstname">MATT</span>
            <span id="navbar-lastname">PEEBLES</span>
        </div>
    </div>
    <div id="navbar-gutter"></div>
    <div id="navbar-menu">
        <div class="navbar-menu-item"><a href="/#summary" class="navbar-menu-link navbar-menu-item-summary">About</a></div>
        <div class="navbar-menu-item"><a href="/#projects" class="navbar-menu-link navbar-menu-item-projects">Projects</a></div>
        <div class="navbar-menu-item"><a href="/essays/" class="navbar-menu-link navbar-menu-item-blog">Essays</a></div>
        <div class="navbar-menu-item"><a href="/#contact" class="navbar-menu-link navbar-menu-item-contact">Contact</a></div>
    </div>
</nav>