#essay {
    padding: 5px;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    @include for_breakpoint(desktop){
        #body{
            margin-bottom: 5%;
        }
    }

    #header {
        h1 {
            font-weight: 600;
        }

        #date {
            font-style: italic;
        }

        #quote {
            font-style: italic;
        }
    }

    #quote{
        text-align: center;

        @include for_breakpoint(desktop){
                padding-left: 20%;
                padding-right: 20%;
                margin: 5% 0% 5% 0%;
        }
    }

    .footnotes{
        border-top: solid 1px;
        margin-top: 5%;
    }
}