#nav {
    display: flex;
    flex-direction: row;

    #theme-toggle {
        font-size: 20px;
        width: 15px;
        height: 15px;
    }

    a {
        padding: 0;
        background: transparent !important;
        text-decoration: none;

        &:hover,
        &.active {
            text-decoration: underline;
            cursor: pointer;
        }
    }

}