.post-list-item {
    border-top: 1px solid var(--border-color-faded);
    margin-bottom: 15px;
    padding: 0 5px 0 5px;

    a {
        text-decoration: none;
        color: var(--main-text-color)
    }
}