$bg: 'bg';
$card-bg: 'card-bg';
$text: 'text';
$text-secondary: 'text-secondary';
$link: 'link';
$hover: 'hover';

$themes: (
  light: (
    bg: #fff,
    text: #408bbd,
    text-secondary: #408bbd,
    link: #3e4e53,
    hover: #61b0e7,
  ),
  dark: (
    bg: #222,
    text: #ddd,
    text-secondary: #aaa,
    link: #cac3bc,
    hover: #ddd,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}