$light-bg: #fff;
$light-text: #408bbd;
$light-text-secondary: #408bbd;
$light-link: #3e4e53;
$light-hover: #61b0e7;

$dark-bg: #222;
$dark-text: #ddd;
$dark-text-secondary: #aaa;
$dark-link: #cac3bc;
$dark-hover: #ddd;

html {
  --light-text-color: #{$light-text-secondary};
  --link-color: #{$light-link};
  --main-background-color: #{$light-bg};
  --main-text-color: #{$light-text};
}

@media (prefers-color-scheme: dark) {
  html {
    --light-text-color: #{$dark-text-secondary};
    --link-color: #{$dark-link};
    --main-background-color: #{$dark-bg};
    --main-text-color: #{$dark-text};
  }
}