body{
    background-color: #fffef1;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0px;
    max-height: 100vh;
    
    h2{
        font-family: 'Titillium Web', sans-serif;
    }

    .container{
        flex-grow: 1;
        overflow: auto;
    }
}